<div class="row">
        <div class="container">

        <div class="col-sm-offset-2 col-sm-7">
        <hr>
        <a href="<%=root_path%>" class="btn btn-info pull-right">Go to Home Page</a>
        </div>
        <div class="col-sm-offset-2 col-sm-7">

                <hr>
                <br>
                <p> <strong>Question: Where are you getting the produce?</strong></p>
                <p>We believe in supporting the local community so we are getting produce from local farmers around Walnut Creek area.</p>
                <br>
                <p> <strong>Question: Is the produce organic?</strong></p>
                <p>No, but it is <strong>locally grown</strong>.</p>
                <br>
                <p> <strong>Question: What is in the box?</strong></p>
                <p>Main staples: 4 tomatoes, 3 potatoes, 2 carrots,
                       1 bunch of green onions, 1 head of broccoli, 1 avocado, 1 white onion, 1 red onion, 3 Persian cucumbers, 1 Honeycrisp apple, 1 Golden Delicious apple,
                       2 navel oranges, 2 bananas and 1 head of greenleaf lettuce</p>
                <a href="">Image for the box</a>
                <img src="" caption="Image for the box">
                <br>
                <br>
                <p> <strong>Question: Am I getting the same produce every week?</strong></p>
                <p>At this time yes, but our engineers are working very hard to make it a la carte.</p>
                <br>
                <p> <strong>Question: When is the delivery day?</strong></p>
                <p>The delivery day is every <strong>Thursday</strong>.</p>
                <br>
                <p> <strong>Question: What time of day will the box be delivered?</strong></p>
                <p>You will be able to select a 2 hour window while ordering your produce and we will deliver the box in the time frame that you have chosen.</p>
                <br>
                <p> <strong>Question: How late can I order?</strong></p>
                <p>We will accept orders until <strong>midnight Wednesday</strong>.</p>
                <br>
                <p> <strong>Question: Can I setup recurring orders?</strong></p>
                <p>No, but our engineers are working very hard to add this feature to our site</p>
                <br>
                <p> <strong>Question: What is the maximum that I can order per week?</strong></p>
                <p>At this point, you can only order 2 boxes per week.</p>
                <br>
                <p> <strong>Question: Is delivery included in the price?</strong></p>
                <p>Yes. Tax and delivery are included in the price.</p>
        </div>
         <div class="col-sm-offset-2 col-sm-7 text-center">
        <hr>
                <a href="<%=root_path%>" class="btn btn-info center-text">Go to Home Page</a>
        <hr>
        </div>
        </div>
</div>