<div class="row">
	<div class=" col-sm-offset-2 col sm-8">
		<hr>
		<br>
		<p> <strong>Question: Where are you getting the produce?</strong></p>
        <p>We believe in supporting local community so we are getting produce from local farmers around Walnut Creek area.</p>
        <p> <strong>Question: Is the produce organic?</strong></p>
        <p>No, but it is <strong>localy grown</strong>.</p>	
        <p> <strong>Question: What is in the box?</strong></p>
        <p>Main Staples, let me be specific :4 tomatoes, 3 potatoes, 2 carrots, 
        	1 bunch green onions,1 head brocolli, 1 avocado, 1 white and 1 red onion,
        	3 Persian cucumbers, 1 Honeycrisp and 1 Golden Apple, 
        	2 Naval Oranges, 2 Bananas and 1 Greenleaf Lettuce</p>			
	</div>
</div>