<div class="row">
        <div class="container">

        <div class="col-sm-offset-2 col-sm-7">
        <hr>
        <a href="<%=root_path%>" class="btn btn-info pull-right">Go to Home Page</a>
        </div>
        <div class="col-sm-offset-2 col-sm-7">

                <hr>
                <br>
                <p> <strong>Question: Where are you getting the produce?</strong></p>
                <p>We believe in supporting local community so we are getting produce from local farmers around Walnut Creek area.</p>
                <br>
                <p> <strong>Question: Is the produce organic?</strong></p>
                <p>No, but it is <strong>localy grown</strong>.</p>
                <br>
                <p> <strong>Question: What is in the box?</strong></p>
                <p>Main Staples, let me be specific :4 tomatoes, 3 potatoes, 2 carrots,
                       1 bunch green onions,1 head brocolli, 1 avocado, 1 white and 1 red onion,
                       3 Persian cucumbers, 1 Honeycrisp and 1 Golden Apple,
                       2 Naval Oranges, 2 Bananas and 1 Greenleaf Lettuce</p>
                <a href="">Image for the box</a>
                <img src="" caption="Image for the box">
                <br>
                <br>
                <p> <strong>Question: Am I getting the same produce every week?</strong></p>
                <p>At this point Yes, but our engineers are workig very hard to make it al'a carte.</p>
                <br>
                <p> <strong>Question: When is the delivery day?</strong></p>
                <p>The delivery day is every <strong>Thursday</strong>.</p>
                <br>
                <p> <strong>Question: How late can I order?</strong></p>
                <p>We will accept orders until <strong>Wednesday midnight</strong>.</p>
                <br>
                <p> <strong>Question: What time of day will the box be delivered?</strong></p>
                <p>You are going to supply us 2 hour window while ordering your box, we will deliver the box in that time frame</p>
                <br>
                <p> <strong>Question: Can I setup recurring orders?</strong></p>
                <p>No , but our engineers are workig very hard to add this feature to our site</p>
                <br>
                <p> <strong>Question: What time of day will the box be delivered?</strong></p>
                <p>You are going to supply us 2 hour window while ordering your box, we will deliver the box in that time frame</p>
                <br>
                <p> <strong>Question: What is the maximum that I can order?</strong></p>
                <p>At this point, you can only order 2 boxes.</p>
                <br>
                <p> <strong>Question: Is free delivery included in the price?</strong></p>
                <p>Yes. Tax and free delivery is included in the price.</p>s
                <br>
                <p> <strong>Question: Do you store any Credit Card information?</strong></p>
                <p>No we do not store any credit card information, since we are using payment gateway provider</p>
        </div>
         <div class="col-sm-offset-2 col-sm-7 text-center">
        <hr>
                <a href="<%=root_path%>" class="btn btn-info center-text">Go to Home Page</a>
        <hr>
        </div>
        </div>
</div>