<body>


    <!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->
    <header >
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="tagline">Produce Delivery only in Walnut Creek</h1>
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr>

        <div class="row">
            <div class="col-sm-4">
                <h2>Why's</h2>
                <p> <strong>Question: Why are we doing?</strong></p>
                <p>We beleive that fresh produce delivered to your home can be cost efficient</p>
            </div>
            
            <div class="col-sm-4">
                <h2>What's</h2>
                <p><strong>Question: What are we doing?</strong></p>
                <p>A box that includes maint staples will be delivered to your home every week for only <strong>$ 15</strong>. Yes No Gimmmicks only  <strong> $ 15</strong> including tax :)</p>
               
            </div>
            <div class="col-sm-4">
                <h2>How's</h2>
                <p><strong>Question: How are we doing ?</strong></p>
                <p>By focusing our service area only for <strong>Walnut Creek Area</strong>, we can keep our costs down and 
                    pass along the savings to you. Why <strong>Walnut Creek </strong>? Beacuse we call <strong>Walnut Creek</strong>
                    home</p>
            </div>
        </div>
        <div class="row">       
            <div class="col-sm-4">
                <h4>we know that you have a lot of questions</h2>
                <h2><a href="">Click to Learn </a></h2>
            </div>
        </div> 
        <!-- /.row -->
        <hr>

        <div class="row">
            <div class="col-sm-offset-2 col-sm-8 text-center">
                <h2>Please subscribe below to get an email about the service start date</h2>
                <form id="subscribe" class="form-inline" method="POST">
                      <div class="form-group">
                        <label for="exampleInputName2">email</label>
                        <input type="email" class="form-control" id="exampleInputName2" name="email" placeholder="murat@gmail.com">
                        </div>
                       <div class="form-group">
                        <label for="exampleInputEmail2">Zip Code</label>
                        <input type="text" class="form-control" id="exampleInputEmail2"name="zipCode" placeholder="94598">
                       </div>
                    <input type="submit" class="btn btn-success">
                </form>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

</body>